body {
background-color: lightblue;
}

h1 {
  font-family: verdana;
  font-size: 40px;
  text-align: center;
  color: red;
}

form {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: red;
}

.fehler {
    color: lightblue;
}

.Overschrift {
  font-family: verdana;
  font-size: 40px;
  text-align: center;
  color: red;
}

h2 {
  font-family: verdana;
  font-size: 20px;
  text-align: left;
  color: red;
}
