
body {
background-color: lightblue;
}

h1 {
  font-family: verdana;
  font-size: 40px;
  text-align: center;
  color: red;
}
h2 {
  font-family: verdana;
  font-size: 30px;
  color: red;
}

ul {
  top: 0;
  position: fixed;
  width: 100%;
  list-style-type: none;  /* entfernt die aufzählungszeichen bei einer liste */
  margin: 0; /* gibt position auf der seite an */
  padding: 0; /* entfernung eines objekts von seiner rahmenlinie */
  background-color: #333;
}

li {

  float: left;
  background-color: #333;
}

li a, .liste_btn {
  display: inline-block; /* ordnet die objekte in der navigationsleiste horizontal statt vertikal an */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* entfernt dass der text in der navigationsleiste unterstrichen ist */
}

li a:hover, .liste:hover .liste_btn {
  background-color: red;
}

li.liste {
  display: inline-block;  /* positioniert alle elemente in einer zeile  */
}

.liste-content {
  display: none;
  position: absolute;  /* fixiert die position */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  /* legt die schatten um ein objekt fest */
  z-index: 1; /* andert die reihenfolge wie die Objekte übereinander gelegt werden  */
}

.liste-content a {
  color: black;
  padding: 12px 16px;   /* entfernung eines objekts von seiner rahmenlinie reihenfolge: oben rechts unten links */
  text-decoration: none;
  display: block; /* erzeugt automatisch einen zeilenumbruch nach jedem element */
  text-align: left;
}

.liste-content a:hover {background-color: #f1f1f1;}

.liste:hover .liste-content {
  display: block;  /* erzeugt automatisch einen zeilenumbruch nach jedem element */
}

form {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: red;
}

.fehler {
    color: lightblue;
}

.Overschrift {
  font-family: verdana;
  font-size: 40px;
  text-align: center;
  color: red;

}

.nav {
  font-size: 22px;
  text-align: center;
}
.right {
  float: right;
  width: 9%;
}


h2 {
  font-family: verdana;
  font-size: 20px;
  text-align: left;
  color: red;
}
table {
  font-family: verdana;
  font-size: 16px;
  text-align: left;
  color: black;
}
